@charset "utf-8";
/* menu */

.MainMenu{
	background-color:#000;
	height:2.5em;
	position:fixed;
	left:0;
	right:0;
	top:0;
}

.MainMenu-item{
	display:inline-block;
}

.MainMenu-list{
	text-align:center;
	margin:0;
}

.MainMenu-link{
	color:#59bae2;
	text-decoration:none;
	margin-right:10px;
	line-height:2.5em;
}

/* Header Module */
.Header{
	margin-top:2.5em;
	background-image:url(../img/portada.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	padding:2em;
	text-align:center;
}

.Header-image{
	border:5px solid #FFFFFF;
	border-radius: 50%;
	width:6.5em;
}

.Header-name,
.Header-link{
	color:#FFF;
}

.Header-link{
	font-size:1.5em;
	font-weight:bold;
	text-decoration:none;
}

.header-imageContainer{
	margin:0px;
}

.Header-name{
	font-weight:300;
}
/* Profile Module */
.Profile{
	text-align:center;
}

.Profile-link{
	background-color:#F90;
	border-radius:2em;
	text-decoration:none;
	color:white;
	padding:.5em 1em;
}

/* utilities */

.u-title{
	border-bottom:2px dashed #00CCFF;
	color:#00CCFF;
	font-weight:400;
	padding-bottom:.8em;
}

.u-strong{
	font-weight:bold;
}

.u-italic{
	font-style:italic;
}